@import "tailwindcss";

@theme {
  --color-ananda-maroon: #7a0c0c;
  --color-ananda-dark-maroon: #4b0505;
  --color-ananda-gold: #d4af37;
  --color-ananda-light-gold: #f5e6a8;
  --color-ananda-cream: #fff8e1;
}